header nav .about a {
  color: goldenrod;
}

header nav li .fa-info-circle {
  color: goldenrod;
}

header nav .about a:hover {
  color: white;
}

header nav li .fa-info-circle:hover {
  color: white;
}

main h1 {
  font-family: "Lilita One", sans-serif;
  color: #002a4e;
  font-size: 4em;
}

main .row img {
  width: 300px;
  border-radius: 50%;
  transition: 1000ms;
}

main .row img:hover {
  transform: scale(1.5, 1.5);
}

main .row .row2 .img2 {
  order: 1;
}

main .title_hp {
  font-family: "Harry Potter", sans-serif;
  color: #f8ce69;
  font-size: 1.5em;
}


main .row .text_justify {
  text-align: justify;
}

main button {
  background-color: #f8ce69;
  border: 2px solid goldenrod;
  border-radius: 60px;
  color: rgb(104, 76, 4);
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  transition: 1000ms;
}
main button:hover {
  transform: scale(1.2, 1.2);
}

@media (max-width: 992px) {
  main .row img {
    width: 250px;
  }
  main .row .text_justify {
    font-size: medium;
  }
}
@media (max-width: 769px) {
  main .row .row2 .img2 {
    order: 0;
  }
}
