header nav .contact a {
  color: goldenrod;
}

header nav li .fa-comments {
  color: goldenrod;
}

header nav .contact a:hover {
  color: white;
}

header nav li .fa-comments:hover {
  color: white;
}
main h1 {
  font-family: "Lilita One", sans-serif;
  color: #002a4e;
  font-size: 3em;
}

main .row .left_gadget img,
main .row .right_gadget img,
main .row .buttom_gadget img {
  width: 130px;
  transform: 1000ms;
}

main .row .left_gadget img:hover {
transform: rotate(45deg);
}

main .row .right_gadget img:hover{
  transform: rotate(-45deg);
}

main .row .buttom_gadget img:hover{
  transform: scale(1.2,1.2);
}

main .form_container {
  max-width: 60%;
  margin: 25px auto;
}

main button {
  background-color: #f8ce69;
  border: 2px solid goldenrod;
  border-radius: 60px;
  color: rgb(104, 76, 4);
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  transition: 1000ms;
}

main button:hover {
  transform: scale(1.2, 1.2);
}

@media (min-width: 992px) {
  main .row .buttom_gadget img {
    display: none;
  }
}

@media (max-width: 992px) {
  main .row .left_gadget img,
  main .row .right_gadget img {
    display: none;
  }
  main .row .left_gadget ,
  main .row .right_gadget  {
    max-height: 1cap;
  }
}
