header nav .contact a {
  color: goldenrod;
}

header nav li .fa-comments {
  color: goldenrod;
}

header nav .contact a:hover {
  color: white;
}

header nav li .fa-comments:hover {
  color: white;
}
main h1 {
  font-family: "Lilita One", sans-serif;
  color: #002a4e;
  font-size: 3em;
}

main h2 {
  font-family: "Harry Potter", sans-serif;
  color: white;
  font-size: 3em;
}

main .row .left_gadget img,
main .row .right_gadget img,
main .row .buttom_gadget img {
  width: 130px;
  transform: 1000ms;
}

main .row .left_gadget img:hover {
  transform: rotate(45deg);
}

main .row .right_gadget img:hover {
  transform: rotate(-45deg);
}

main .row .buttom_gadget img:hover {
  transform: scale(1.2, 1.2);
}

main .form_container {
  margin: 25px auto;
  background: #ffffff9c;
}

main .contact_container {
  max-width: 80%;
  margin: 25px auto;
}

main .left_side {
  background: linear-gradient(
    0deg,
    rgba(0, 84, 156, 1) 0%,
    rgba(0, 5, 10, 1) 100%
  );

  border-radius: 15px;
  font-size: 1.2em;
}

main .left_side img {
  max-width: 25%;
  border-radius: 15px;
  box-shadow: 0px 0px 33px 10px #ffffff;
}

main button {
  background: linear-gradient(
    0deg,
    rgba(0, 84, 156, 1) 0%,
    rgba(0, 5, 10, 1) 100%
  );
  border: 2px solid rgb(255, 255, 255);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  transition: 1000ms;
}

main button:hover {
  transform: scale(1.2, 1.2);
}

@media (min-width: 992px) {
  main .row .buttom_gadget img {
    display: none;
  }
}

@media (max-width: 992px) {
  main .row .left_gadget img,
  main .row .right_gadget img {
    display: none;
  }
  main .row .left_gadget,
  main .row .right_gadget {
    max-height: 10px;
  }
  main .left_side {
    display: none;
  }
}
