header nav .faq a {
  color: goldenrod;
}

header nav li .fa-question-circle {
  color: goldenrod;
}

header nav .faq a:hover {
  color: white;
}

header nav li .fa-question-circle:hover {
  color: white;
}

main h1 {
  font-family: "Lilita One", sans-serif;
  color: #002a4e;
  font-size: 3em;
}


main .row .left_gadget img,
main .row .right_gadget img,
main .row .buttom_gadget img {
  width: 130px;
  transform: 1000ms;
}

main .row .left_gadget img:hover {
  transform: rotate(45deg);
}

main .row .right_gadget img:hover {
  transform: rotate(-45deg);
}

main .row .buttom_gadget img:hover {
  transform: scale(1.2, 1.2);
}

@media (min-width: 992px) {
  main .row .buttom_gadget img {
    display: none;
  }
}

@media (max-width: 992px) {
  main .row .left_gadget img,
  main .row .right_gadget img {
    display: none;
  }
  main .row .left_gadget,
  main .row .right_gadget {
    max-height: 10px;
  }
}
