header nav .faq a {
  color: goldenrod;
}

header nav li .fa-question-circle {
  color: goldenrod;
}

header nav .faq a:hover {
  color: white;
}

header nav li .fa-question-circle:hover {
  color: white;
}

main h1 {
  font-family: "Lilita One", sans-serif;
  color: #002a4e;
  font-size: 3em;
}


main .row .left_gadget img,
main .row .right_gadget img,
main .row .buttom_gadget img {
  width: 130px;
  transform: 1000ms;
}

main .row .left_gadget img:hover {
  transform: rotate(45deg);
}
main .accordion .accordion-item{
  background: linear-gradient(
    0deg,
    rgba(0, 42, 78, 1) 0%,
    rgba(84, 109, 131, 1) 100%
  );}
main .accordion .accordion-collapse.collapse.show{
  background: #ffffff52;
}
main .accordion .accordion-button.collapsed{

  background: linear-gradient(
    0deg,
    rgba(0, 84, 156, 1) 0%,
    rgba(0, 5, 10, 1) 100%
  );
  color:white;

}
main .accordion .accordion-button{
  background: linear-gradient(0deg, rgba(240,222,180,1) 0%, rgba(248,206,105,1) 100%);
  color:rgb(0, 0, 0);
  min-height: 80px;
}

main .row .right_gadget img:hover {
  transform: rotate(-45deg);
}

main .row .buttom_gadget img:hover {
  transform: scale(1.2, 1.2);
}

.accordion-button::after{
  background-image: url(../images/lightning2.png);
  background-size: cover;

}
.accordion-button:not(.collapsed)::after{
  background-image: url(../images/lightning.png);
}

@media (min-width: 992px) {
  main .row .buttom_gadget img {
    display: none;
  }
}

@media (max-width: 992px) {
  main .row .left_gadget img,
  main .row .right_gadget img {
    display: none;
  }
  main .row .left_gadget,
  main .row .right_gadget {
    max-height: 10px;
  }
}
