main {
  min-height: 550px;
}
main h1 {
  font-family: "Lilita One", sans-serif;
  color: #002a4e;
  font-size: 3em;
}

main img {
  max-width:300px;
  border-radius: 15px;
  box-shadow: 0px 0px 33px 5px #ffffff;
}

main .row .text_justify {
  text-align: justify;
}

@media (max-width: 768px) {
  main img {
    display: none;
  }
}
