header nav .trivia a {
    color: goldenrod;
  }
  
  header nav li .fa-gamepad {
    color: goldenrod;
  }
  
  header nav .trivia a:hover {
    color: white;
  }
  
  header nav li .fa-gamepad:hover {
    color: white;
  }

  .quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  input[type="radio"] {
    appearance: none;
    border: 1px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  input[type="radio"]:hover {
    background-color: lightgray;
  }