/* general */
* {
  box-sizing: border-box;
}
.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* header */
body {
  background: linear-gradient(
    0deg,
    rgba(0, 42, 78, 1) 0%,
    rgba(84, 109, 131, 1) 100%
  );
  font-family: "Open Sans", sans-serif;
}

header {
  max-height: 100px;
  background: #002a4e;
  position: sticky;
  top: 0;
  z-index: 400;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
}

header nav a:hover {
  color: goldenrod;
}

header nav li .fa {
  color: white;
  font-size: 1.2em;
}
nav li .fa.fa-camera {
  font-size: 1em;
}

header nav li i:hover {
  color: goldenrod;
}

header .logo1 img {
  max-height: 90px;
}

header .logo2 img {
  max-height: 100px;
}

header .burger {
  display: none;
}

footer{
    min-height: 150px;
    background: #F8CE69;
    font-weight: bolder;
}

.icons .fa_icon{
    font-size: 3em;
}
.icons .fa_icon a{
    color: #002a4e;
}

@media (max-width: 992px) {
    header nav ul {
      display: grid;
    }

    header nav {
      display: none;
      position: absolute;
      background: #b5cfe69f;
      right: 0;
      top: 100px;
    }
  
    header nav ul li a {
      display: block;
      color: #002a4e;
    }

    header nav ul a:hover {
      background: rgba(0, 0, 0, 0.411);
      padding: 8px;
    }

    header nav ul li {
      padding: 8px;
    }
  
    header .burger {
      z-index: 888;
      color: #ffffff;
    }

    header .burger i {
      font-size: 2.5em;
    }

    header .logo1 {
      display: none;
    }
  }
  